<h2>Content Based Recommendation System </h2>
<p> This project is about content based recommendation system. The features(Items) used are:-
movie genres, descriptions etc to recommend items similar to those the suer has liked in the past.   </p>

In [10]:
import pandas as pd 
import numpy as np 
from sklearn.metrics.pairwise import cosine_similarity    
from sklearn.feature_extraction.text import TfidfVectorizer

# Example dataset: Movie titles and genres
movies={
    'title':['Movie A', 'Movie B', 'Movie C', 'Movie D'],
    'genres':['Action|Adventure', 'Adventure|Comedy', 'Comedy|Romance','Action|Thriller']
}
movies_df=pd.DataFrame(movies)
movies_df

     title            genres
0  Movie A  Action|Adventure
1  Movie B  Adventure|Comedy
2  Movie C    Comedy|Romance
3  Movie D   Action|Thriller

In [11]:
# Vectorize the genres using TF-IDF
tfidf=TfidfVectorizer(token_pattern='[a-zA-Z0-9]+')
tfidf_matrix=tfidf.fit_transform(movies_df['genres'])
tfidf_feature_names=tfidf.get_feature_names_out()
pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_feature_names, index=movies_df['title'])

           action  adventure    comedy   romance  thriller
title
Movie A  0.707107   0.707107  0.000000  0.000000  0.000000
Movie B  0.000000   0.707107  0.707107  0.000000  0.000000
Movie C  0.000000   0.000000  0.619130  0.785288  0.000000
Movie D  0.619130   0.000000  0.000000  0.000000  0.785288

In [12]:
# Calculate the similarity between movies
cosine_sim=cosine_similarity(tfidf_matrix)
# cosine_sim_df=pd.DataFrame(cosine_sim, index=movies_df['title'])
cosine_sim_df = pd.DataFrame(cosine_sim, index=movies_df['title'], columns=movies_df['title'])

cosine_sim_df

title     Movie A   Movie B   Movie C   Movie D
title
Movie A  1.000000  0.500000  0.000000  0.437791
Movie B  0.500000  1.000000  0.437791  0.000000
Movie C  0.000000  0.437791  1.000000  0.000000
Movie D  0.437791  0.000000  0.000000  1.000000

In [18]:
def recommend_movies(title, cosine_sim_df, num_recommendations=3):
    if title not in cosine_sim_df.index:
        return f"Movie '{title}' not found in the dataset."
    
    # Get the similarity scores for the given movie
    similar_scores = cosine_sim_df.loc[title]
    
    # Sort the movies by similarity score and exclude the first (which is the movie itself)
    similar_movies = similar_scores.sort_values(ascending=False).iloc[1:num_recommendations+1]
    
    # Return the movie titles (index of similar_movies should be the movie names)
    return similar_movies.index.tolist()

# Example: Recommend movies similar to user define movie
movie=input('Enter movie name: ')
recommendations = recommend_movies(f'{movie}', cosine_sim_df)
print(recommendations)

Movie 'movie' not found in the dataset.